.fondo{
    background-color: white;
}

.buton{
    margin-left: 190px;
    margin-top: 10px;
}

.listC{
    text-align: center;
    margin-top: 15px;
}

.borde{
    margin-bottom: 20px;
}

.load{
    text-align: center;
}

